*{
    margin: 0%;
    padding: 0%;
}
:root {
    --primary-color:#fafafa;
        
}
main{
    margin-top: 5%;
}

body {
    text-align: center;
    font-size: larger;
    color: var(--primary-color);
    background-image: url(rr.jpg);
    background-size: 200%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;


}
input {
    font-size: large;
    display: flex;
    outline: #fff;
    padding: 0.6rem 1rem;
    margin: 1rem auto;
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 325px;
}

.button-btn {
    background: var(--primary-color);
    border: none;
    color: rgb(5, 5, 5);
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    font-size: large;
    cursor: pointer;
    outline: #fff;
    margin: auto;
    display: block;
}

label {
    font-size: xx-large;
    font-family: cursive;

}
a,
img {
    height: 8%;
    width: 8%;
    margin-left: 4px;
    /* margin-top: 1%; */
    margin-right: 3px;
    margin-bottom: 5%;


}
.gith{
    height: 6%;
    width: 6%;
}
.footer-header {
    color: rgb(248, 244, 244);
    font-size: xx-large;

}

footer {
    /* margin-top: 8rem; */

    margin-bottom: 2rem;
    background-origin: padding-box;
    color: wheat;
    font-size: large;
    margin-top: 13rem;
    padding: 3rem;
    border-bottom-left-radius: 1rem;
    /* background-color: var(--primary-coloer); */
    background-color: black;

}


.output {
    margin-top: 3rem;
    color: rgb(251, 253, 252);
    font-size: 180%;
    font-family: cursive;
}